body {
	line-height: 22px;
	color: #252519;
	margin: 0;
	padding: 0;
}

#content > * {
	padding: 1em;
}

#content > div {
	overflow-y: auto;
	flex: 1 1 auto;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
	font-size: 15px;
}

p {
	max-width: 40em;
}

a {
	color: #261a3b;
	text-decoration: none;
	text-shadow: 0 0 6px;
}

a:hover {
	color: #666666;
}

.org-ul, .org-ol {
	padding-left: 0;
}

h1 {
	margin-top: 40px;
}

body, #content {
	height: 100vh;
}

#content {
	display: flex;
}

navigation {
	background: #1e1e27;
	order: -1;
	max-width: 20em;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
}

navigation,
navigation a {
	color: #e5e5e5;
	text-decoration: none;
	text-shadow: 0 0 0;
}

figure > p {
	width: 100%;
}

blockquote {
	margin-left: 0;
}

img {
	max-width: 95%;
}

.verse {
	font-style: oblique;
	padding-left: 10px;
}

p.footpara {
	display: inline;
}

kbd {
	padding: 0em 0.45em;
	border: 1px solid #ccc;
	font-family: sans-serif;
	background-color: #f7f7f7;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
	border-radius: 3px;
	line-height: 100%;
	white-space: nowrap;
}
